<a href="https://colab.research.google.com/github/Chood16/DSCI222/blob/main/(1)_Mem_Allocation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python ID

In [ ]:
# The identity of 4 objects
import math
a = 10
b = 10
c = 11.49274
d = math.pi

print('a:', id(a))
print('b:', id(b))
print('c:', id(c))
print('d:', id(d))

a: 10758024
b: 10758024
c: 136767239146928
d: 136767667016624

# Integers, Strings, and Tuples

In [ ]:
# Integers

x = 10
y = x
print('x:', id(x))
print('y:', id(y))
x += 1
print('x:', id(x))

x: 10758024
y: 10758024
x: 10758056

In [ ]:
# Strings
print('Strings: ')
s1 = 'ABC'
s2 = 'ABC'
s3 = s1
print('s1:', id(s1))
print('s2:', id(s2))
print('s3:', id(s3))

Strings:
s1: 10155328
s2: 10155328
s3: 10155328

In [ ]:
# Tuples
print('Tuples: ')
tu1 = ['A', 'B']
tu2 = ['A', 'B']
tu3 = tu1
print('tu1', id(tu1))
print('tu2', id(tu2))
print('tu3', id(tu3))
tu4 = tu3
tu4.append('C')
print('tu4', id(tu4))
tu4[0] = 'D'
print('tu4', id(tu4))

Tuples:
tu1 136767239330112
tu2 136767239330048
tu3 136767239330112
tu4 136767239330112
tu4 136767239330112