<a href="https://colab.research.google.com/github/Chood16/DSCI222/blob/main/lectures/(2)_List_Comprehension.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Squaring Numbers

Create a **list** of 10 numbers and compute their square value:

1, 2, 3, 4, 5, 6, 7, 8, 9, 10

In other words, for each value of $x$, compute $y=x^2$

In [ ]:
# Two artless approaches

# Option 1

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
squared = []

for x in numbers:
  squared.append(x ** 2)

print(squared)

# Option 2

squared_2 = []

for x in numbers:
  squared_2.append(x * x)

print(squared_2)



# List Comprehension

newList = [ *expression*   **for**   *clause* ]

newList_with_conditional = [ *expression*   **for**   *clause*   **if**   *conditional* ]

clause = *element* **in** *oldList*

In [ ]:
# With List Comprehension

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
squares = [x ** 2 for x in numbers]

print(squares)

# alternatively

squares = [x**2 for x in range(1, 11)]
print(squares)

This mimics set buidler notation (if you've ever heard of that)

squared = [x ** 2 for x in numbers]

is the same as

squared = $\{ x^2 \mid 1 \leq x \leq 10 \}$

# Conditional statements (optional part)

Create a list with all the **even** numbers between -1 and 21.

Reminder: an even number is an integer of the form $n=2k$, where $k$ is an integer. Since the even numbers are integrally divisible by two, the congruence $n\equiv(mod 2)$ holds for even $n$.

In [ ]:
even_number = [x for x in range(-1, 22) if x % 2 == 0]
print(even_number)

# Additional syntax

Create a list of numbers that are both, divisible by 3 and divisible by 5.

Save in the list all the numbers between 0 and 100 that meet both conditions.

In [ ]:
# Nested IF statement
number_conditions = [x for x in range(-1, 100) if x % 3 == 0 if x % 5 == 0]
print(number_conditions)

# And condition
number_conditions = [x for x in range(-1, 100) if x % 3 == 0 and x % 5 == 0]
print(number_conditions)

# OR condition
number_conditions = [x for x in range(-1, 100) if x % 3 == 0 or x % 5 == 0]
print(number_conditions)

# NOT condition
number_conditions = [x for x in range(-1, 100) if x % 3 == 0 and not x % 5 == 0]
print(number_conditions)

# Dealing with Tuples

Given a tuple of words, create a new tuple only including words that contain the letter 'o'

In [ ]:
fish_tuple = ('blowfish', 'shark', 'clownfish', 'catfish', 'octopus')

fish_list = [x for x in fish_tuple if 'o' in x]
print(fish_list)

Noew create a new tuple only including words that **does not** contain the word 'fish'

In [ ]:
fish_tuple = ('blowfish', 'shark', 'clownfish', 'catfish', 'octopus')

not_fish_list = [x for x in fish_tuple if 'fish' not in x]
print(not_fish_list)

# Nested Loops

Given two list of numbers, $A=\{a_1, a_2, a_3\}$ and $B=\{b_1, b_2, b_3\}$, perform all pairwise multiplications $a_i*b_k|i,k=\{1,2,3\}$.

In [ ]:
#By Hand

x = [20,40, 60]
y = [2, 4, 6]

my_list = [20 * 2, 20 * 4, 20 * 6, 40 * 2, 40 * 4, 40 * 6, 60 * 2, 60 * 4, 60 * 6]
print(my_list)

In [ ]:
# The artless approach

my_list = []

for x in [20, 40, 60]:
	for y in [2, 4, 6]:
		my_list.append(x * y)

print(my_list)

In [ ]:
# Using List Comprehension

my_list = [x * y for x in [20, 40, 60] for y in [2, 4, 6]]
print(my_list)

# Time Analysis: List Comprehension VS For-Loops

In [ ]:
# Import required module
import time


# Function to compute it via for-loop
def for_loop(n):
	result = []
	for i in range(n):
		result.append(i**2)
	return result


# Function to compute it via list-comprehension
def list_comprehension(n):
	return [i**2 for i in range(n)]


# Calculate the time taken by for_loop()
begin = time.time()
for_loop(10**7)
end = time.time()

# Display time taken by for_loop()
print('Time taken -> for_loop:', round(end-begin, 2))

# Calculate the time taken by list_comprehension()
begin = time.time()
list_comprehension(10**7)
end = time.time()

# Display time taken by for_loop()
print('Time taken -> list_comprehension:', round(end-begin, 2))