<a href="https://colab.research.google.com/github/Chood16/DSCI222/blob/main/lectures/(4)_Pandas_Expanded.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas

* Open-source Python library designed for working with relational or labeled data in an easy and intuitive way.

* Built on top of NumPy, reusing and extending many of its data structures.

* Provides powerful data structures (like DataFrame and Series) for manipulating numerical data and time series.

* Offers high performance and productivity for data analysis tasks.

* Commonly used in data science workflows alongside:

  * Matplotlib for data visualization

  * SciPy for statistical analysis

  * Scikit-learn for machine learning

* Enables seamless data handling, making it easier to clean, transform, and analyze datasets.

In [ ]:
# To import libraries
import numpy as np
import pandas as pd

# Series

In [ ]:
# To create Series
s = pd.Series([-5, 1.3, 21, 6, 3],
              index = ['a', 'b', 'c', 'd', 'e'])
print(s)
display(s)

In [ ]:
# You can call an element by their index
print(s['a'])

s['a'] = 5
s

In [ ]:
# Don't forget to use copy!!!

s2 = s
s2['a'] = -5
display('s series updates as well:', s)

s2 = s.copy()
s2['a'] = 1111
display("Now that s2 was made as a copy, s won't change", s)

In [ ]:
# Convert to Numpy object
s.to_numpy()

In [ ]:
# How to GET specific elements (e.g., 'e', 'd', 'c')?
s[["b", "d", "c"]]

In [ ]:
# How to show all numbers above the mean?
s[s > s.mean()]

In [ ]:
# Can we perform operations (+, **, etc) on Series?
s1 = pd.Series(range(4), index = ["A", "B", "C", "D"], name = 'Series one')
display( s1 )
s2 = pd.Series(data = range(10, 14), index = ["B", "C", "D", "E"])
display( s2 )

In [ ]:
#        Â¿?
s1 + s2

In [ ]:
# How to show the type of each instance in the Series ?
x = pd.Series(['A', 1, ["I", "AM", "A", "LIST"]])
x.map(type)

In [ ]:
# Quick previews of a Series
display(s.head())   # first 5 elements
display(s.tail())   # last 5 elements

In [ ]:
# Apply a custom function to each element
s.apply(lambda x: x**2)

In [ ]:
# Summary statistics for numerical Series
s.describe()

In [ ]:
# must remember to do s = for method to update series

s = s.apply(lambda x: x**2)

display(s)

In [ ]:
# Summary statistics for numerical Series
s.describe()

In [ ]:
# Handling missing values in Series
s_with_nan = pd.Series([1, 2, None, 4])
print(s_with_nan)

In [ ]:
print("Check for NA:")
print(s_with_nan.isna())

In [ ]:
print("Fill NA with 0:")
print(s_with_nan.fillna(0))

In [ ]:
print("Drop NA:")
print(s_with_nan.dropna())

# Dataframes

In [ ]:
# Test the next 5 different ways to create a DataFrame

In [ ]:
# Dictionary <-- Most common for df
df = pd.DataFrame({"Name": ['Tom', 'Mike', 'Tiffany'], "Age": [7, 15, 3]})
display (df)

# List of lists <-- Very common as well
df = pd.DataFrame([['Tom', 7], ['Mike', 15], ['Tiffany', 3]], columns=['Name', 'Age'])
display (df)

# ndarray
df = pd.DataFrame(np.array([['Tom', 7], ['Mike', 15], ['Tiffany', 3]]), columns=['Name', 'Age'])
display (df)

# List of  Tuples
df = pd.DataFrame(zip(['Tom', 'Mike', 'Tiffany'], [7, 15, 3]), columns=['Name', 'Age'])
display (df)

# Series
df = pd.DataFrame({"Name": pd.Series(['Tom', 'Mike', 'Tiffany']), "Age": pd.Series([7, 15, 3])})
display (df)

In [ ]:
# It includes Column names and the Index
df = pd.DataFrame({"Name": ['Tom', 'Mike', 'Tiffany'],
                   "Language": ['R', 'Python', 'Python'],
                   "Courses": [7, 15, 3]},
                  index = [777, 888, 999] )

display( df )

In [ ]:
# It's always helpful to check the data types
df.map(type)

In [ ]:
# let's make them all strings
df = df.astype({'Name': 'string', 'Courses': 'string'})
df.map(type)

In [ ]:
# Show all observations/instances where their
# number of courses is greater than 5
# df[df['Courses'] > 5]
df[df['Courses'].astype('int16') > 5]

In [ ]:
# Add the next row:
# Kate, Golang, 6, 4.0
# with index: 111

new_row = pd.DataFrame([{'Name':'Kate', 'Language': 'Golang', 'Courses': 6}], index = [111])
df = pd.concat([df, new_row])
display(df)

In [ ]:
# There's always more than one way to do it
new_row = {'Name':'Zefran', 'Language': 'Python', 'Courses': 5}
df.loc[len(df)] = new_row
display( df )

# To change the index value
df = df.rename( index = {df.index[-1] : 122})
display( df )

In [ ]:
# Insert a column 'Credits' where Credits = Courses * 3

# It doesn't work as expected!!

df.assign(Credits = lambda x: x.Courses * 3)

In [ ]:
df = df.astype({'Courses': 'int16'})
df.map(type)

In [ ]:
# Attempt 2

df = df.assign(Credits = lambda x: x.Courses * 3)
display(df)

In [ ]:
# Let's remove the column and try a different way
df = df.drop(columns='Credits')
display(df)

In [ ]:
#Attempt 3
df['Credits'] = df['Courses'] * 3
display(df)

In [ ]:
# Adding and removing columns
df['Full_Time'] = df['Credits'] > 12
display(df)

In [ ]:
# Show all observations/instances where the
# number of courses is greater than 4
# when the language is Python
df[(df['Courses'] > 4) & (df['Language'] == 'Python')]

In [ ]:
# What if we want just the names of these students?

df[(df['Courses'] > 4) & (df['Language'] == 'Python')]['Name']

In [ ]:
# Inspecting structure
display(df.shape)
display(df.columns)
display(df.dtypes)
df.info()

In [ ]:
df

In [ ]:
# Selecting data with loc (label-based) and iloc (position-based)
print(df.loc[111])
print(df.loc[999, "Name"])   # row 0, column 'Name'
print(df.iloc[1, 2])       # row 1, column 2

In [ ]:
# Sorting
display(df.sort_values(by='Credits', ascending=False))
display(df.sort_index())

In [ ]:
# Grouping
grouped = df.groupby('Language')[['Courses', 'Credits']].sum()
display(grouped)

In [ ]:
# Aggregation functions
grouped_agg = grouped.agg(['sum', 'mean', 'max'])
print(grouped_agg)

display(grouped_agg)

In [ ]:
grouped_agg = df.groupby('Language')[['Courses', 'Credits']].agg(['min', 'mean', 'max'])
display(grouped_agg)

In [ ]:
grouped_agg[('Courses', 'mean')] = grouped_agg[('Courses', 'mean')].round(1)
grouped_agg[('Credits', 'mean')] = grouped_agg[('Credits', 'mean')].round(1)

display(grouped_agg)

In [ ]:
# Merging two DataFrames
df2 = pd.DataFrame({'Name': ['Tom', 'Kate'], 'City': ['NYC', 'LA']})
merged = pd.merge(df, df2, on='Name', how='left')
display(merged)

In [ ]:
# Create a dataset, fill out with random integer values [-7, 13),
# with 270 rows and 50 columns.
# The column names will follow the format:
# Col_1, Col_2, ... , Col_50
# The index values will follow the format:
# 2029-01-01, 2029-01-02, ..., 2029-09-27

# Random data
rnd_data = np.random.randint(-7, 13, (270, 50))
print(rnd_data.shape)

# Column names using list comprehension
dt_col = ['Col_'+str(i) for i in range(1,rnd_data.shape[1]+1)]


# Index
dt_idx = pd.date_range(start='2029-01-01', periods=rnd_data.shape[0], freq='D')
# dt_idx = pd.date_range(start='2029-01-01', end='2029-09-27', freq='D')

df_rnd = pd.DataFrame(rnd_data, index = dt_idx, columns = dt_col)
display( df_rnd )

In [ ]:
display( df_rnd.head())

In [ ]:
# Sort DataFrame by the values in Column 3 using .sort_values
df_rnd.sort_values(by = 'Col_3', ascending = False).head() # <-- False means largest to smallest

In [ ]:
# Create a copy of the df
# Replace all negative numbers  by 'Not a Number' (np.nan)
# Replace all numbers > 10  by 'Infinite' (np.inf)

df_cpy = df_rnd.copy()

# Nan
df_cpy[df_cpy < 0] = np.nan

# Inf
df_cpy[df_cpy > 10] = np.inf
display(df_cpy.head())

In [ ]:
# Verify the data type of the original dataframe
# Verify the data type of the new dataframe

display(df_rnd.dtypes.head())
display(df_cpy.dtypes.head())

In [ ]:
# Create histogram of the distribution of Nan values counted by column
import matplotlib.pyplot as plt
a = df_cpy.isna().sum() # To compute NaNs by Column

plt.hist(a, bins=16)
plt.show()

In [ ]:
# Reading and writing CSV files
QB_data = pd.read_csv('QB_Projections.csv')
display(QB_data.head())

In [ ]:
display(QB_data['ATT'])

In [ ]:
display(QB_data['ATT'].agg(['min', 'mean', 'max']))

In [ ]:

display(QB_data[QB_data['ATT'] > 100])

In [ ]:

display(QB_data.loc[QB_data['ATT'] > 100, 'ATT'])

In [ ]:
QB_data.loc[QB_data['ATT'] > 100, 'ATT'].agg(['min', 'mean', 'max'])

In [ ]:
QB_data.sort_values(by='ATT', ascending=False)

In [ ]:
QB_data[QB_data['ATT'] >= 100].sort_values(by='TDS', ascending=False)

In [ ]:
df.to_csv('languages.csv', index=False)